<html>
<head>
	<title></title>
</head>
<body>
<h1>Hello</h1>
<form class='form' action='/post' method='post'>
    <!-- Name: <input class='form-control' type='text' name='name'> -->
   
    <input type="submit" value="Submit">

 </form>

 <p>{{users.name}}</p>
</body>

</html>